import React from 'react'

import { Container } from './{{pascalCase name}}Component.styles'
import { {{pascalCase name}}Props } from './{{pascalCase name}}Component.types'

const {{pascalCase name}}Component = ({ name = 'new component' }: {{pascalCase name}}Props) => (
  <Container>
    <h1>{{pascalCase name}} - {name}</h1>
  </Container>
)

export default {{pascalCase name}}Component
